body{
  margin:0;
  padding:0;
  /*overflow: hidden;*/
}
.container{
  height:100%;
  width:100%;
}
 .sky img{
  position: absolute;
  height: 630px;
  width: 360px;
}
.trees img{
  overflow: hidden;
  
  position: absolute;
  top:-130px;
  animation:downup 3s linear  infinite;
}
.track img{
  height:222px;
  background-repeat: repeat;
  position: absolute;
  top:410px;
  width:100%;
  /*animation: trackmove 4s linear infinite;
  animation: carrun 4s linear infinite;*/
  animation:downup 3s linear infinite;
}
.car {
    height: 100px;
    width:310px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left:5px;
    bottom:30vh;
    transition: 4s;
    animation: updown 2s linear infinite;
 /*  animation:updown 4s  infinite;*/
}
.wheel1 img{
  position: relative;
  height: 66px;
  width: 66px;
  left:42px;
  bottom:-6vh;
  animation: wheelrotate  5s linear infinite;
}
.wheel2 img{
  position: relative;
  height: 66px;
  width: 66px;
  left:221px;
  bottom:5vh;
  animation: wheelrotate 5s linear infinite;
}

@keyframes wheelrotate
{
  100%{ transform: rotate(360deg);}
}
@keyframes carrun
{
  100%{transform: translateX(100vw);}
}
/*@keyframes trackmove{
  100%{transform: translatex(-100vw);}
}*/
@keyframes updown{
  0%{transform: translateY(5px);}
  50%{transform:translateY(-5px);}
  100%{transform: translateY(5px);}
}
@keyframes downup {
  0% {
    transform: translateX( 5px);
  }

  50% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(5px);
  }
}