body{
    font-size: 15pt;
   /* padding: 3%;
    margin :3%;*/
    font-family: sans-serif;
    /*background-image:url("bg1.jpg");*/
    color: white;
    background-size: cover;
    background-image: url("bg1.jpg"), linear-gradient(#eb01a5, #d13531);
}
div.form a{
  text-decoration: none;
  color: #CDD235;
  font-family: "Times New Roman",
  Times,
  serif;
  float:right;
  }
.firstButton{
  font-size: 25px;
  background-color:#2ED846;
  border: 3px solid #AE1A1A;
  border-radius:15px;
  color: black;
  float: left;
}
.secondButton{
  font-size: 25px;
  background-color:#222FBE;
  border: 3px solid #F3EDEBA6;
  border-radius:15px;
  color:black;
  float:right;
}
/*__________home page_______*/ 

 h1,h3{
  padding-top: 20%;
  text-align:center;
  text-shadow:3px 3px #B2B7ED80;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
  
}
div .heading h3{
  padding-top: 0px;
  text-align: center;
  
}
div #homePart #about{
  position: relative;
  overflow: none;
}
div#homePart #about img{
  float:left;
  height: 250px;
  width: 250px;
  border-radius:50%;
  shape-outside:circle();
  margin:20px 20px 20px 3px;
}
div#homePart #about p{
  font-size: 15px;
 text-align: justify;
 line-height:30px;
 letter-spacing:2px;
}
div#navBar table tr th{
  text-align: center;
}
div#homePart #about #abtimage img {
  float: right;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  shape-outside:circle();
  margin: 30px 0px 20px 20px;
}
div.work ul li a{
  text-decoration: none;
  line-height: 40px;
  color:#6F79DF;
  letter-spacing:3px; 
}

/*_________footer___________*/


div#footer{
  border:3px solid red;
  text-align: center;
  border-radius:25px;
}
.fa {
  margin: 5%;
  padding: 5px;
  font-size: 25%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background-color: #2F3DDA;
  color: #B2B4CD;
}

.fa-twitter {
  background-color: #3DA1B8;
  color: white;
}

.fa-linkedin {
  background-color: #47B752;
  color: white;
}

.fa-instagram {
  background-color: #562851;
  color: white;
}